.flash_box{
  text-align:center;
  background-color:#38Aef0;
  color:white;
  font-size:1rem;
}


.header{
  height:100px;
  width: calc(100vw-300px);
  padding: 0 40px;
  &__left{
    margin-top: 35px;
  }
    &__title{
    line-height: 20px;
    color: #333333; 
    }
    &__member{
      margin-top:15px;
      line-height:12px;
    }
  &__right{
    height: 40px;
    margin-top:28px;
    display:block;
    border: solid, #38Aef0;
  }

}
